<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="dist/hotel-booking-backend/src/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NodeBackend" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="dist/hotel-booking-backend/src/index.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode watchedFiles="web.config;dist/hotel-booking-backend/src/*.js" />
  </system.webServer>
</configuration>
